.experience-section {
    padding: 2%;
    background: var(--grey-color);
}

.experience-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.experience-description {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.experience-title {
    background: var(--grey-300);
    padding: 0 12px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}