.logos {
    height: 100px;
    width: 100px;
}

.experience-card {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 600px;
    background-color: var(--bg-color);
    padding: 30px;
    box-shadow: 8px 8px 15px var(--box-shadow-first), -8px -8px 15px var(--box-shadow-sec);
}