#computer {
  height: 40px;
  width: 40px;
}
#location {
  height: 20px;
  width: 20px;
}
#available {
  height: 20px;
  width: 20px;
}

.info-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.information {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.information > div:first-child {
  flex: 2;
}

.information > div:last-child {
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-info {
  margin: 3rem;
  width: 800px;
}

#personal-photo {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}